pre a {
  text-decoration-style: dotted;
  text-decoration-skip-ink: all;
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: $headings-font-weight !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.template-home .page-header {
  min-height: 70px;

  .logo {
    float: right;
  }

  h1 {
    margin: 0;
  }
}
