pre a {
  text-decoration-style: dotted;
  text-decoration-skip-ink: all;
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: $headings-font-weight !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.template-home .page-header {
  min-height: 70px;

  .logo {
    float: right;
  }

  h1 {
    margin: 0;
  }
}

main {
  img:not(.page-header img),
  video {
    box-shadow: var(--shadow-elevation-medium);
    margin-bottom: 1.5rem;
    border-radius: 5px;
  }

  video {
    max-width: 100%;
  }

  p > img:first-child:last-child {
    display: block;
    margin-inline: auto;
  }
}

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0px 1px 1.3px hsl(var(--shadow-color) / 0.33),
    0px 4px 5px -1.6px hsl(var(--shadow-color) / 0.52);
  --shadow-elevation-medium:
    0px 1px 1.3px hsl(var(--shadow-color) / 0.31),
    0px 5.8px 7.3px -0.8px hsl(var(--shadow-color) / 0.42),
    -0.1px 20px 25.2px -1.6px hsl(var(--shadow-color) / 0.54);
  --shadow-elevation-high:
    0px 1px 1.3px hsl(var(--shadow-color) / 0.34),
    -0.1px 12px 15.1px -0.4px hsl(var(--shadow-color) / 0.42),
    -0.2px 26px 32.8px -0.8px hsl(var(--shadow-color) / 0.5),
    -0.4px 52.2px 65.8px -1.2px hsl(var(--shadow-color) / 0.57),
    -0.7px 100px 126px -1.6px hsl(var(--shadow-color) / 0.65);
}
